<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/libs/jquery.mousewheel.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

{% fancyboxstylefix %}

<!-- Custom Scripts -->
<script language="Javascript" type="text/javascript">
    $(document).ready(function() {
        jQuery(".fancybox").fancybox();
    });
</script>
